* {
    margin:0;
}

.icon {
    position:absolute;
    height:35px;
    width:40px;
    float:right;
    right:140px;
    bottom:50%;
    transform:translate(0%,50%);
}

.projectIcon {
    right:120px;
}

.currentPage {
    float:right;
    color:white;
    position:relative;
    bottom:25%;
    margin-right: 20px;
}

body, html {
    background-image:url(assets/background.jpg);
    height:100%;
    width:100%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.topBar {
    position:relative;
    color:white;
    background-color:rgba(255, 255, 255, 0.18);
    width:100%;
    height:55px;
}
.title {
    position:relative;
    top:25%;
    margin-left:20px;
}

.intro {
    top:330px;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 37px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.637);    
    position: absolute;
    color:black;
}

.textbox {    
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 37px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.637);    
    position: absolute;
    color:black;
}

.about {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    max-width: 500px;
}

.panel1 {
    position:absolute;
    top:50%;
    transform:translate(0%,-50%);
    left:15.6%;
    height:500px;
    width:200px;
    padding:10px;
}

.panel2 {
    position:absolute;
    top:50%;
    transform:translate(0%,-50%);
    right:15.6%;
    height:500px;
    width:200px;
    padding:10px;
}

.image1 {
    height:200px;
    width:180px;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    top:10px;
}

.image2 {
    height:200px;
    width:180px;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    bottom:-60px;
}

.contactHeading {
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 30px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.637);    
    position: absolute;
    color:black;
    top:150px;
    left:50%;
    transform:translate(-50%,0%) 
}

.emailText {
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 30px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.637);    
    position: absolute;
    color:black;
    left:50%;
    transform:translate(-50%,0%);  
    top:280px;
}


.phoneNumText {
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 30px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.637);    
    position: absolute;
    color:black;
    left:50%;
    transform:translate(-50%,0);
    top:480px;
}

.addressText {
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 30px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.637);    
    position: absolute;
    color:black;
    left:50%;
    transform:translate(-50%,0);
    top: 650px;
}

.projectContainer {    
    display:grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    margin-left: 8.5%;
    margin-top: 20px;
}

.projectContainer > div {
    border:2px rgba(255, 255, 255, 0.428) solid;
    font-size: 30px;
    box-shadow:8px 7px rgba(0, 0, 0, 0.285);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.637);    
    color:black;
    text-align: center;
    width:400px;
    height:400px; 
}

.button {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border-radius: 20px; 
    width:70px;
    height:30px;
    cursor:pointer;
    position:relative;
    float:right;
    bottom:25%;
    border-color: black;
}

.button:active {
    background-color: rgba(255, 255, 255, 0.503);
    color:white;
    transform:none;
    border-color: rgba(0, 0, 0, 0);
}

.buttons {
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}